.filtros {
  width: 100%;
  margin: 0;
}

.filtros li {
  width: 100%;
  display: inline;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0 1rem;
  *border-bottom: 1px solid #666;
  cursor: pointer;
  transition: 0.25s;
}

.filtros li:hover {
  font-size: 22px;
  transition: 0.25s;
  color: #fff;
}

@media only screen and (min-device-width: 991px) {
}
