.card-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 1px 1px 8px rgba(34, 34, 34, 0.479);
}

.prod-img-wrapper {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-producto button {
  font-size: 14px;
  margin: 10px 0;
}
