.card-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 1px 1px 8px rgba(34, 34, 34, 0.479);
  width: 250px;
  height: 350px;
  margin: 5px;
  text-align: center;
}

.prod-wrp a {
  text-decoration: none;
}

.prod-img-wrp {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prod-img {
  width: 80%;
  padding: 10px 0;
}

.card-producto button {
  font-size: 1rem;
  margin: 10px 0;
  background: #0097a7;
  color: #fff;
  transition: 0.3s;
}

.card-producto button:hover {
  color: #fff;
  font-size: 1.1rem;
  transition: 0.3s;
}

.prod-marca {
  font-size: 1.75rem;
}

.prod-modelo {
  font-size: 1.25rem;
}
