.productos-section {
  min-height: 100vh;
  margin-top: 50px;
}

.grid-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productos-filtros {
  width: 100%;
}

.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
